# MTK project .rc configure

import init.recovery.usb.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data

#
# Connectivity related device nodes & configuration (begin)
#

#/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

#/dev/ttyMT3 for IRDA usage
    chmod 0666 /dev/ttyMT3
    chown system system /dev/ttyMT3

# STP, WMT, GPS, FM and BT Driver
#   insmod /vendor/lib/modules/mtk_hif_sdio.ko
#   insmod /vendor/lib/modules/mtk_stp_wmt.ko
#   insmod /vendor/lib/modules/mtk_stp_uart.ko
#   insmod /vendor/lib/modules/mtk_stp_gps.ko
#   insmod /vendor/lib/modules/mtk_stp_bt.ko
#   insmod /vendor/lib/modules/mtk_fm_drv.ko
#   insmod /vendor/lib/modules/mtk_wmt_wifi.ko

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

#    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

#disable quick charge
    chown system system /sys/class/power_supply/bq2589x-Wall/disable_quick_charge
    chmod 0660 /sys/class/power_supply/bq2589x-Wall/disable_quick_charge

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF


    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/LC898122AF
    chown system camera /dev/LC898122AF
    chmod 0660 /dev/LC898122OFILMAF
    chown system camera /dev/LC898122OFILMAF
    chmod 0660 /dev/BU6429AF
    chown system camera /dev/BU6429AF
    chmod 0660 /dev/LC898217AF
    chown system camera /dev/LC898217AF
    chmod 0660 /dev/CAM_CAL_DRV
    chmod 0660 /dev/CAM_CAL_DRV_SHARP
    chmod 0660 /dev/CAM_CAL_DRV_OFILM
    chmod 0660 /dev/CAM_CAL_DRV_3L8
    chmod 0660 /dev/CAM_CAL_DRV_3L9
    chown system camera /dev/CAM_CAL_DRV
    chown system camera /dev/CAM_CAL_DRV_SHARP
    chown system camera /dev/CAM_CAL_DRV_OFILM
    chown system camera /dev/CAM_CAL_DRV_3L8
    chown system camera /dev/CAM_CAL_DRV_3L9

# BT
#    chmod 0660 /dev/stpbt
#    chown bluetooth radio /dev/stpbt

# GPS
#    chown gps gps /dev/stpgps
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status
#    chmod 0660 /dev/stpgps

# Add Wake Gestures
    chown system system /sys/bus/i2c/devices/i2c-2/2-004b/wake_gesture_enable
    chmod 0644 /sys/bus/i2c/devices/i2c-2/2-004b/wake_gesture_enable

# ANT
	chmod 0660 /dev/stpant
	chown ant radio /dev/stpant

# Char device for BT 3.0 HS
 #   mknod /dev/ampc0 c 151 0
    chown bluetooth bluetooth /dev/ampc0
    chmod 0660 /dev/ampc0

#
# Connectivity related device nodes & configuration (end)
#

# goodix fingerprint begin
    chown system system /dev/goodix_fp
# goodix fingerprint end
